apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudmasa-client
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloudmasa-client
  template:
    metadata:
      labels:
        app: cloudmasa-client
    spec:
      containers:
        - name: client
          image: "{{ .Values.image.client.repository }}:{{ .Values.image.client.tag }}"
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"
